@use '../../variables';

.character-container{
    height: 90vh;

    .character-list-container {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
}


.card-character {
    height: 400px;
    width: 380px;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: variables.$box-shadow;
    display: flex;
    flex-direction: column;
    
    .title {
        display: flex;
        justify-content: space-between;

        span {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            background: variables.$primary-color;
            color: #fff;
            padding: 5px;
    
            border-radius: 5px;
            box-shadow: variables.$box-shadow;
        }

    }
    

    .server {
        color: variables.$secondary-text-color;
        font-size: 15px;
    }


    .character-details {
        display: flex;
        
        .left-details {
            display: flex;
            flex: 1;
            flex-direction: column;
            font-family: 'Nunito', sans-serif;
        
        }

        .categ-title {
            color: variables.$primary-text-color;
            font-weight: 300;
            font-style: italic;

            img {
                height: 13px;
                margin-right: 5px;
            }
        }

        .imbuements {
            position: relative;
            .imbuements-list {
                display: none;
                
            }
        }
        .imbuements:hover {
            .imbuements-list {
                background-color: #fff;
                display: inherit;
                position: absolute;
                
                left: 50%;
                box-shadow: variables.$box-shadow;
                padding: 20px;
                border-radius: 10px;
                ul {
                    list-style-type: none;
                    
                }
            }
        }

        .skills {
            color: variables.$secondary-text-color;
            margin-left: 10px;
        }
        .progress-bar-bg {
            background-color: variables.$background-color;
            width: 100%;
            height: 4px;
            filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));;
            .progress-bar {
                background-color: variables.$primary-color;
                width: 55%;
                height: 100%;
            }
        }


        .right-details {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            padding: 20px;

            .charm-list {
            
                color: variables.$secondary-text-color;
                > ul {
                    list-style: none;
                    margin-left: 20px;
                }
            }
        }


    }

    .rectangle-outline {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 13px;
        color: variables.$primary-color;
        text-align: center;
        line-height: 20px;
        max-width: 100px;
        border: 1px solid variables.$primary-color;
        border-radius: 5px;
        height: 25px;
        margin: 10px 0;
        
        > img {
            height: 10px;
        }
    }

    %rectangle-filled {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        
        span {
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
            background: variables.$primary-color;
            color: #fff;
            padding: 5px;
    
            border-radius: 5px;
            box-shadow: variables.$box-shadow;
        }
        img {
            height: 12px;
            margin: 0 5px;
        }
    
        
    }

    .price {
        @extend %rectangle-filled;

    }

    .seller-user {
        
        @extend %rectangle-filled;
        height: 25px;
        line-height: 15px;
        
        span {
            font-style: italic;
            font-weight: 300;
        }
        

    }

}


