.navbar {
    color: #fff;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .logo {
        display: flex;
        flex: 1;
        align-items: center;

        cursor: pointer;

        img {
            margin-right: 20px;
        }
     }

     .user-profile {
        display: flex;
        align-items: center;
        img {
            height: 32px;
            width: auto;
            border-radius: 100px;
            margin-right: 10px;

        }

         
     }
}


